/*---------------------
      Fonts here
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  transition: all ease-in-out;
}

#slider::-webkit-scrollbar, 
#sliderr::-webkit-scrollbar, 
#slid::-webkit-scrollbar, 
#slide::-webkit-scrollbar {
  display: none;
}

@media (min-width: 320px) {
  .img-con {
    width: 60px;
  }

  .cat-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-title {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .4rem;
    margin-bottom: 2rem;
  }

  .row {
    padding-left: 2rem;
    padding-right: auto;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .parenthesis {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}

@media (min-width: 640px) {
  .img-con {
    width: 120px;
  }

  .cat-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: 3rem;
  }

  .row {
    padding-left: 2rem;
    padding-right: auto;
  }

  .item {
    width: 125px;
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.4rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }

  .parenthesis {
    font-size: 1.4rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }

  
}


@media (min-width: 1024px) {
  .img-con {
    width: 200px;
  }

  .cat-title {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .card-title {
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: 3.5rem;
  }

  .row {
    padding-left: 5rem;
    padding-right: auto;
  }

  .item {
    width: 200px;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .parenthesis {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  
}
